# Project exclude paths
/businessServer/target/
/recommender/dataloader/target/
/recommender/kafkaStream/target/
/recommender/OfflineRecommender/target/
/recommender/recsys-spark/target/
/recommender/statisticsRecommender/target/
/recommender/StreamingRecommender/target/